/** Add css rules here for your application. */

@CHARSET "UTF-8";
/* Reference from Google Shopping */
body,div,ul,ol,li,h1,h2,h3,form,p,th,td{padding:0;margin:0}
body{margin:3px 8px 0 8px}
table{border-collapse:collapse;border-spacing:0}
img{border:0}
td,th{vertical-align:top}
li{list-style:none}
h1,h2,h3{font-size:100%;font-weight:normal}
cite,em,th{font-style:normal;font-weight:normal}
body{font:82% Arial,Helvetica,sans-serif}
a{color:#00c}
.hiddenframe{overflow:hidden;visibility:hidden}
.bold{font-weight:bold}
#hp-logo{margin:1.54em 0}
.search_advanced{font-size:77%;padding-left:0.6em;width:25%;text-align:left;white-space:nowrap}#hp-cont{text-align:center;clear:both}#hp-tagline{font-size:139%;color:#1d46a6;font-weight:bold;margin:1em 0}.samp_q_line td{border-bottom:1px solid #36c}#sample_q,#search-input{margin:0 auto}#sample_q td{text-align:left;padding:3px}#sample_q a{white-space:nowrap}.clear{clear:both}.clear_left{clear:left}.clear_right{clear:right}.f,.f:link,#ads-rhs .spon_txt,#ads-top .spon_txt,#ads-bot .spon_txt,.result-attributes,.seller-location{color:#676767}.fl:visited{color:#551a8b}.fl:active{color:#f00}.fl:link{color:#77c}.a,.a:link,#ads-top cite,#ads-rhs cite,#ads-bot cite,.result cite,.result-seller-rating a{color:green}#ads-rhs{float:right;width:260px;background:#fff;border-left:1px solid #c9d7f1;padding-left:10px}#ads-rhs .spon_txt{text-align:center}#ads-rhs li{margin:1em 0}#ads-top,#ads-bot{background:#fff8dd;padding:3px 6px;margin-bottom:11px}#ads-top .spon_txt,#ads-bot .spon_txt{float:right}#ads-top h3,#ads-rhs h3,#ads-bot h3{font-size:123%}#ads-top cite,#ads-bot cite{margin-right:2em}#ads-top li,#ads-bot li{padding-top:12px}#ads-top .first,#ads-bot .first{padding:0}#ads-bot{margin:0 0 20px 0}#ps-titlebar{border-top:1px solid #4478d4;background:#f0f7f9;padding:4px 6px;clear:both;white-space:nowrap;text-align:right;margin-bottom:11px}#ps-titlebar p{float:left;text-align:left}.lhs{margin-left:195px}#no-results{font-size:124%;padding:1em 0 1em 6px}#no-results p,#no-results ul{padding-bottom:1em}#no-results li{list-style:disc inside;padding-left:40px}
#spelling{font-size:124%;padding:0 0 10px 6px;color:#c00}
.section {
padding:10px 0 20px;
}
.tool-header 
.section h2{
	font-size:108%;
	font-weight:bold;
	background:#e5ecf9;
	padding:4px 6px;
	border-top:1px solid #89a9e4}
.tool-header{font-size:100%}#srp-header{clear:both}#srp-header #search-input{margin-top:19px}.result-seller-rating a{font-size:85%}.result-button{padding-top:5px}.result-rating form,.product-desc-cont form,#view-sort form,#sellers-restrict form{display:inline}.seller-location{padding-top:2px}.nearby-count{padding-top:5px;padding-left:1px}#view-sort{padding:0 0 11px 6px}#view-sort .fr,#sellers-restrict .fr{float:right}.view-sort-cont{white-space:nowrap}#view-sort .tr{text-align:right}#view-sort .view-sort-2ndline{padding-top:10px}#view-sort .filter-cont{padding-top:0.4em}#view-sort .filter,#sellers-restrict .filter{margin-left:0.6em;white-space:nowrap}#view-sort .filter input,#lhs-ref .filter input,#sellers-restrict input{margin-right:0.2em}#view-sort .display_options_icons{white-space:nowrap;margin-left:1em}#view-sort .display_options_icons img{vertical-align:middle}.ps-errorMsg{color:#c00;padding-top:5px}.list .result{border-bottom:1px solid #ddd;padding:10px 0 10px 6px}.list .result-cont{width:99.5%;overflow:hidden}.list .result-title{font-size:123%}.list .result-image{height:90px;width:90px;float:left;text-align:center}.list .result-image img{max-width:90px;max-height:90px}.list .result-title-description{margin:0 19em 0 100px;}.list .result-price-seller{float:right;width:17em}.list .result-price .main-price,.list .result-price .result-price-range{font-size:154%;font-weight:bold}.list{max-width:70em}.list #results{margin:0 0 20px 0}.grid .result{padding:0 14px 20px 6px;display:-moz-inline-box;display:inline-block;width:150px;font-size:93%;vertical-align:top}.grid .result-cont{width:150px;}.grid .result-image img{border:1px solid #00c;max-width:120px;max-height:120px}.grid .result-image{text-align:left;width:122px;height:122px;overflow:hidden}.grid .result h3{padding:4px 0 2px}.grid .result-rating{padding-bottom:2px}.grid .result-price{font-weight:bold}.grid .result-taxship{color:#676767}.grid .result-button input{font-size:93%}.grid .result h3,.grid .result-seller{width:150px;overflow:hidden}.bimg .result{padding:10px 4px 10px 6px;width:180px}.bimg .result-cont{width:180px;}.bimg .result-image img{border:0;max-width:180px;max-height:180px}.bimg #results{margin-bottom:20px}.bimg .result-button,.bimg .result-taxship,#results .bimg-hidden{display:none}.bimg .result-image{text-align:center;width:180px;height:180px;overflow:hidden}.grid-break{border-top:1px solid #ccc;font-size:1px;line-height:1px}.bimg .result-seller,.bimg .result h3{width:180px}#lhs-ref{position:absolute;width:165px;background:#fff;border-right:1px solid #c9d7f1;padding:0 10px 0 6px;line-height:150%}#lhs-ref .lhs-group{margin-bottom:20px}.breadcrumb,.breadcrumb-sep{margin-right:0.2em}.breadcrumb-sep{font-weight:bold;position:relative;top:-0.08em}#related-searches{height:1.2em;overflow:hidden}#related-searches ul,#related-searches li{padding:0;margin:0;list-style:none;display:inline}#related-searches li{padding-right:10px}#related-searches li a{white-space:nowrap}.hidden{display:none}.more-ref{display:none}.more-ref-link{padding-top:0}.ref-close{position:relative;top:1px;margin-left:4px}.rsaquo{margin-left:-9px;position:absolute}.ref_active{font-weight:bold}#ps-leftnav .sub1{padding-left:1.6em}#ps-leftnav .sub2{padding-left:2.2em}#ref-category li,#ref-category .more-ref-link{padding-top:5px}#ref-category{line-height:120%}#ref-category .ref-cat-indent{padding-left:10px}#visual_tools{margin:0 0 20px 0}.v-ref{float:left;padding-right:6px;width:104px;text-align:center}.v-ref div{width:90px;border:1px solid #00c;margin:0 auto 0.3em auto}.v-ref-hdr{margin:10px 0 5px 6px;font-size:124%}.v-ref-threepack{float:left;width:49.9%}.v-ref-sixpack .v-ref{padding-right:16px;height:130px}.ps-guide{margin-top:12px;max-width:52.8em;_width:52.8em;padding-left:6px}.ps-guide a{font-size:124%}.ps-guide-image{float:right}.ps-guide-image img{border:1px solid #00c;height:60px;margin-left:2px;margin-top:2px}#buying_guides{margin:0 0 20px 0}.more-guides-link{margin-top:12px;padding-left:6px}#query_suggestions{padding:0 0 0 6px;margin:0 0 20px 0}#query_suggestions p{padding-bottom:7px}#query_suggestions td{padding:0 30px 5px 0}#refinement-header{font-size:124%;padding:0 0 10px 6px}#refinements{padding:0 0 20px 6px;line-height:140%}#refinements .breadcrumbs{padding-bottom:10px}.attr-table{padding-top:5px}.attr-table th,.attr-table td{white-space:nowrap;padding-right:2em;text-align:left}.attr-div th{font-weight:normal}.attr-table ul,.attr-table li{display:block;text-indent:0;white-space:nowrap}.price-range-input{width:35px;text-align:right}#footer{clear:both;padding:11px 0;text-align:center}#footer-bg{background-color:#ebeff9;border-bottom:1px solid #36c;border-top:1px solid #36c;padding:1.7em 0}.disclaimer{width:65%;margin:0 auto}.footer-links{padding-top:1.38em}.bottom-links{padding:1.38em}.ps-sprite{display:inline}.ps-sprite{display:inline-table}.ps-sprite p{position:relative;overflow:hidden}.ps-sprite-s{height:9px;width:50px}.ps-sprite-s p{height:9px;width:10px}.ps-sprite-s img{position:absolute;top:-40px}.ps-sprite-son{left:-167px}.ps-sprite-shalf{left:-197px}.ps-sprite-sgon{left:-177px}.ps-sprite-sghalf{left:-187px}.ps-sprite-soff{left:-207px}.ps-sprite-cb{vertical-align:text-bottom;position:relative;top:-1px}.ps-sprite-cb,.ps-sprite-cb p{height:15px;width:104px}.ps-sprite-cb img{position:absolute;left:-63px;top:-40px}.ps-sprite-pslogo,.ps-sprite-pslogo p{height:23px;width:167px}.ps-sprite-pslogo img{position:absolute;top:0;left:0}#srp-logo{display:block;height:40px;margin:14px 8px 11px 0;overflow:hidden;position:relative}.n div,.ps-cb-img{background:transparent url() no-repeat scroll 0 0;height:26px;overflow:hidden}#srp-logo img,#pp-logo img{left:0;position:absolute;top:0}.srch_box{padding:1px 0}.ps-cb{height:18px;overflow:hidden;width:114px}.ps-cb-a{display:block;padding-bottom:2px;position:relative}.ps-cb-span{left:-1000em;position:absolute;top:0}.ps-cb-img{background-position:0 -87px;left:0;position:absolute;top:0}.ps-sprite-cart{vertical-align:text-bottom;position:relative;top:-1px}.ps-sprite-cart,.ps-sprite-cart p{height:13px;width:23px}.ps-sprite-cart img{position:absolute;top:-40px;left:-241px}#ps-navbar{padding-bottom:1.4em}#ps-navbar table{margin:0 auto;text-align:center}#nf{background-position:-26px 0;width:18px}#np{width:44px}#nc{background-position:-44px 0;width:16px}.n .nr{background-position:-60px 0;width:16px}#nn,#nl{background-position:-76px 0}#nn{margin-right:34px;width:66px}#nl{width:42px}#np,#nn,.nr,#glogo span,.ch{cursor:pointer}.n a,.n a:visited{color:#000}.n .i{color:#a90a08;font-weight:bold}.n .b,.n .b:visited{color:#00c;font-weight:bold}.popup-cont{position:absolute;border:1px solid #ccc;visibility:hidden;padding:15px;width:450px;background:white;z-index:2;display:none}.popup-display{display:inline}.popup-close{position:absolute;top:10px;right:10px;height:12px;width:12px;overflow:hidden;background:transparent url(/products/intl/en_us/images/popup-sprite.png) no-repeat scroll -90px 0;cursor:pointer}.popup-title{font-size:124%;font-weight:bold;padding-bottom:3px}.popup-map{float:left}.popup-arrow{background:transparent url(/products/intl/en_us/images/popup-sprite.png) no-repeat scroll 0 0;position:absolute;overflow:hidden}.popup-arrow-top{background-position:-46px -23px;height:23px;left:20px;top:-23px;width:44px}.popup-arrow-bottom{background-position:-46px 0;bottom:-23px;height:23px;left:20px;width:44px}.popup-arrow-bottomright{background-position:-46px 0;bottom:-23px;height:23px;right:20px;width:44px}.popup-arrow-left{height:44px;width:23px;top:20px;left:-23px}.popup-arrow-right{background-position:-23px 0;height:44px;width:23px;top:20px;right:-23px}.popup-map img{width:200px;height:200px;border:1px solid #00c}.loc-list-cont{margin-left:200px}body .locations-table{padding-left:15px}body .locations-table td{padding:3px;background-color:white}.map-pin{background:transparent url(http://maps.gstatic.com/mapfiles/red_icons_A_J.png) no-repeat scroll 0 0;height:38px;width:24px;position:relative;overflow:hidden}.pin-A{background-position:0 0}.pin-B{background-position:0 -38px}.pin-C{background-position:0 -76px}.pin-D{background-position:0 -114px}.pin-E{background-position:0 -152px}
.pin-F{background-position:0 -190px}
.tiny-pin{background:transparent url(http://www.google.com/images/nav_logo7.png) no-repeat scroll -141px -91px;height}
.cw-FlexTable td {
  border: 0px solid #BBBBBB;
  padding: 3px;
}
.cw-FlexTable-buttonPanel td {
  border: 0px;
}
.gwt-DecoratedStackPanel {
  border-bottom: 1px solid #bbbbbb;
}
.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
}
.gwt-DecoratedStackPanel .stackItemTopLeft,
.gwt-DecoratedStackPanel .stackItemTopRight {
  height: 6px;
  width: 6px;
  zoom: 1;
}
.gwt-DecoratedStackPanel .stackItemTopLeft {
  border-left: 1px solid #bbbbbb;
  background: #d3def6 url(images/corner.png) no-repeat 0px -49px;
  -background: #d3def6 url(images/corner_ie6.png) no-repeat 0px -49px;
}
.gwt-DecoratedStackPanel .stackItemTopRight {
  border-right: 1px solid #bbbbbb;
  background: #d3def6 url(images/corner.png) no-repeat -6px -49px;
  -background: #d3def6 url(images/corner_ie6.png) no-repeat -6px -49px;
}
.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
}
* html .gwt-DecoratedStackPanel .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

img{border:0}
a{color:#00c}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#footer{clear:both;padding:11px 0;text-align:center}
#footer-bg{background-color:#ebeff9;border-bottom:1px solid #36c;border-top:1px solid #36c;padding:1.7em 0}

body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	width: 15em;
	border: 1px solid #99ccff;
	background-color: #E8EEFA;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-color: #E8EEFA;
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
.gwt-VerticalPanel {
	padding: 3px;
	background-color: transparent;
}
.gwt-Label-small {
	font-size: smaller;
}
.hasRichTextToolbar {
  border: 0px;
}

.gwt-RichTextToolbar {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}

.gwt-RichTextToolbar 
.gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}
.cw-FlexTable td {
	padding: 1px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}
.gwt-Label-large {
	color: #6699cc;
	font-size:30pt;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
.gwt-Label {
font-size: 32px;
}
.gwt-Label1 {
font-size:40pt;
}
.gwt-PasswordTextBox {
font-size:15pt;
}
.gwt-TextBox {
font-size:15pt;
}
.gwt-DateBox {
font-size: 15pt;
}
.gwt-Label-post {
	font-size: 25px;
}
.gwt-RichTextArea1 {
	
	background-color: powderblue;
}

